/**********BOILERPLATE**********/

@font-face {
  font-family: 'riffic-bold';
  src: url('./fonts/riffic-bold-webfont.woff') format('woff'),
       url('./fonts/riffic-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html { 
  background: url(./components/background/bg.png) no-repeat center center fixed; 
  background-position: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: scroll;
}




/*****************NAVBAR****************/

.navHeader { 
  display: flex;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
}


.titleDiv {
  background: url(./components/header/title.png) no-repeat center left;
  width: 100%;
  height: 85px;
}

@media (max-width: 800px) {
  .titleDiv {
    background: url(./components/header/title_mobile.png) no-repeat center left;
    width: 100%;
    margin-left: 18px;
  }
}


ul {
  list-style-type: none; 
  padding-right: 20px;
}

ul.links {
  display: flex;
}

.burgerLinks {
  display: none;
}


@media (max-width: 975px) {
  .burger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    margin-right: 20px;
  }
  .burgerMenu:hover {
    cursor: pointer;
  }
  nav.navLinks {
    display: none;
  }
  .burgerLinks {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .closeBurgerMenu {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
    color: #818181;
  }

  .burgerLinks li {
    padding-top: 20px;
  }
}



li {
  font-family: 'riffic-bold';
  padding-right: 20px;
}

.links {
  font-family: 'riffic-bold';
}

a {
  color: #b884e0;
  text-decoration: none;
}

a:hover {
  color: #994fd3;
  text-shadow: 2px 1px #b884e0;
}


/****************SELLER AND BALANCE****************/


.sellersAndBalance {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
  flex-wrap: wrap;
}

.sellersAndBalanceText {
  text-align: center;
  font-family: 'riffic-bold';
}


.borderDiv {
  border-bottom: #994fd3 solid 2px;
}


.balanceContainer {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(184,132,224,0.5) 100%);
  height: fit-content;
  width: fit-content;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
}

.balanceContainer p {
  margin: 0;
}

.balanceText {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}



.sellingDiv {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  padding: 10px 20px 10px 20px;
  margin: 0;
  border-bottom: 2px solid #994fd3;
}

.sellerDiv {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(184,132,224,0.5) 100%);
  width: fit-content; 
  height: 20em;
  border-radius: 20px;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  overflow: scroll;
}

@media (max-width: 800px) {
  .sellerDiv {
    height: 6em;
  }
}

.sellingDiv p {
  margin: 0;
}


.sellingDiv:last-child { border-bottom: none; }


.sellingDiv:hover {
  cursor: pointer;
}


/******************BUYING**************/

.buyDiv {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(184,132,224,0.5) 100%);
  height: fit-content;
  width: 50%;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  padding: 10px;
}

@media (max-width: 800px) {
  .buyDiv {
    width: fit-content;
    padding: 5px;
  }
}

.buyCoinDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buyCoinDiv p {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.buyCoinDiv input {
  height: 2em;
  margin: 0;
  margin-right: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  width: 15%;
}

@media (max-width: 800px) {
  .buyCoinDiv input {
    width: 20%;
  }

  .buyCoinDiv p {
    padding-right: 0;
  }
}

.buySellerDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buySellerDiv p {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.buyButtonDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

/*****************BUTTONS************/

button {
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  width: 10em;
}


button.active {
  background-color: #994fd3;
  color: white;
  font-family: 'riffic-bold';
}

button.deactive {
  background-color: #b884e0;
  color: white;
  font-family: 'riffic-bold';
}

button.buy {
  background-color: #1f7ead;
  color: black;
  font-family: 'riffic-bold';
  
}

button.cancel {
  background-color: #d8096c;
  color: white;
  font-family: 'riffic-bold';
}

button.like {
  background-color: #b884e0;
}

/************Likes**********/

#likeDiv {
  position: absolute;
}

:root {
  --animation-time: 2s;
  --x-coords: 0;
  --y-coords: 0;
  --x-drift: 20px;
  --y-half-drift: -50px;
  --y-full-drift: -100px; 
}

.floatingLikes {
  animation: 
    float var(--animation-time) linear, 
    fading var(--animation-time) linear, 
    vanish var(--animation-time) linear;
  animation-fill-mode: forwards;
  position: absolute;
}

@keyframes float {
  0% {
    transform: translate(var(--x-coords), var(--y-coords));
  }

  50% {
    transform: translate(var(--x-drift), var(--y-half-drift));
  }

  100% {
    transform: translate(var(--x-coords), var(--y-full-drift));
  }
}

@keyframes fading {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes vanish {
  
}


/*********Stolen**********/

.stolen { 
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  min-height: 100%;
  min-width: 100%;
  text-align: center;
  color: #b884e0;
  font-size: 1.5em;
}

@media (max-width: 800px) {
  .stolen h1, .stolen h3, .stolen h5, .stolen p {
    padding: 5px;
  }
}


/*********Blockchain table**************/

.blockchainDiv {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.blockTable {
  border-collapse: collapse;
  margin: 25px 20px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow: auto;
  height: 50px;
}

@media (max-width: 800px) {
  .blockTable {
    margin: 25px 0;
  }
  .blockTable th,
  .blockTable td {
      padding: 12px 5px;
  }
}

.blockTable thead tr {
  background-color: #b884e0;
  color: #ffffff;
  text-align: left;
}

.blockTable thead, .blockTable th {
  position: sticky;
  top: 0;
}

.blockTable th,
.blockTable td {
    padding: 12px 15px;
}

.blockTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.blockTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.blockTable tbody tr:last-of-type {
  border-bottom: 2px solid #b884e0;
}

.tableRow:hover {
  font-weight: bold;
  color: #994fd3;
  cursor: pointer;
}


.detailsContainer {
  display: flex;
  flex-grow: 3;
  flex-flow: column;
  position: sticky;
  top: 0;
}


.detailsTable {
  border-collapse: collapse;
  margin: 25px 20px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 800px) {
  .detailsTable {
    margin: 25px 0;
  }
  .detailsTable th,
  .detailsTable td {
      padding: 12px 5px;
  }
}

.detailsTable thead tr {
  background-color: #b884e0;
  color: #ffffff;
  text-align: left;
}

.detailsTable th,
.detailsTable td {
    padding: 12px 5px;
}

.detailsTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.detailsTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.detailsTable tbody tr:last-of-type {
  border-bottom: 2px solid #b884e0;
}


.transactionsTable {
  border-collapse: collapse;
  margin: 25px 20px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 800px) {
  .transactionsTable {
    margin: 25px 0;
  }
}

.transactionsTable thead tr {
  background-color: #b884e0;
  color: #ffffff;
  text-align: left;
}

.transactionsTable thead, .transactionsTable th {
  position: sticky;
  top: 0;
}

.transactionsTable th,
.transactionsTable td {
    padding: 12px 15px;
    /* display: flex; */
    max-width: 50px;
    min-height: fit-content;
    overflow: hidden;
}

.transactionsTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.transactionsTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.transactionsTable tbody tr:last-of-type {
  border-bottom: 2px solid #b884e0;
}


/************whitepaper***************/

.whitepaper {
  text-align: center;
  padding: 0 30px;
}

@media (max-width: 800px) {
  .whitepaper {
    font-size: 1.1em;
  }
}